
<div class ="page-hold">
	<h1>Logbooks#index</h1>
	<p>Find me in app/views/logbooks/index.html.erb</p>

<%= grid(@Log_grid) do |g|

  g.column name: "Date" do |task|
    task.date
  end

  g.column name: "From" do |task|
    task.departurePlace
  end

   g.column name: "To" do |task|
    task.arrivalPlace
  end

  g.column name: "A/C Type" do |task|
    task.aircraftType
  end

  g.column name: "A/C Reg" do |task|
    task.aircraftReg
  end

  g.column name: "SE/ME" do |task|
    task.engine_type
  end

  g.column name: "ME Time" do |task|
    task.flightTime
  end

  g.column name: "Name PIC"  do |task|
    task.PIC
  end

  g.column name: "Day Take Offs"  do |task|
    task.day_takeoff
  end

  g.column name: "Night Take Offs"  do |task|
    task.night_takeoff
  end

  g.column name: "Day Landings"  do |task|
    task.day_landing
  end

  g.column name: "Night Landings"  do |task|
    task.night_landing
  end

  g.column name: "Night Time"  do |task|
    task.night_time
  end

  g.column name: "IFR Time"  do |task|
    task.ifr_time
  end

  g.column name: "PIC Time"  do |task|
    task.pic_time
  end

  g.column name: "Co-Pilot Time"  do |task|
    task.copilot_time
  end

  g.column name: "Dual Time"  do |task|
    task.dual_time
  end


  g.column name: "Instructor Time"  do |task|
    task.instructor_time
  end

  g.column name: "SIM Date"  do |task|
    task.sim_date
  end

  g.column name: "SIM Type"  do |task|
    task.simtype
  end

  g.column name: "SIM Time"  do |task|
    task.sim_time
  end

  g.column name: "Remarks"  do |task|
    task.remarks
  end

   g.column do |task|
    link_to("Delete", task,  method: :delete)
  end
end -%>

<table>                         
  <tr>   
  	<th>Date</th>                       
    <th>From</th>
    <th>To</th>
  </tr>
<% @Logbook.each do |data| %>     
  <tr>
  	<td><%= data.date %></td> 
    <td><%= data.departurePlace %></td> 
    <td><%= data.arrivalPlace %></td> 
    <td><%= link_to 'Edit', edit_logbook_path(data) %></td>
    <td><%= link_to "Delete", data,  method: :delete %></td>
  </tr>
<% end %> 

</table> 
</div>